<table class="table table-striped">
  <thead>
    <tr>
      <th>REF.</th>
      <th>Nome</th>
      <th>Valor</th>
      <th>Estoque</th>
      <th>Data de criação</th>
      <th>Editar</th>
      <th>Remover</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{produto.ref}}</td>
      <td>{{produto.nome}}</td>
      <td>{{produto.valor | currency:'BRL':true}}</td>
      <td>{{produto.estoque}}</td>
      <td>{{produto.date | date:'dd/MM/y' }}</td>
      <td><a [routerLink]="['/produto/edit', produto.id]">Editar</a></td>
      <td><a routerLink="/produto" (click)="remove(produto)">Remover</a></td>
    </tr>
  </tbody>
</table>